<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="src/styles/main.css">
    <link rel="icon" type="image/x-icon" href="src/assets/images/icon.png">
    <title>BumBox</title>
</head>
<body>
    <header class="header">
        <div class="headerBox">
            <button class="headerBurger">
                <img class="burgerImg" src="src/assets/images/MaterialSymbolsMenu.svg" alt="burger">
            </button>
            <img id="logo-container" class="headerLogo" src="" alt="logo">
        </div>
        <nav class="navMenu">
            <ul class="menuList">
                <!-- Los elementos del menú se cargarán dinámicamente -->
            </ul>
        </nav>
    </header>
    <nav class="trending">
        <section class="trendingCenter">
            <div class="trendingBox">
                <span class="trendingSpan">Tendencias:</span> <br>
                <!-- Los temas de tendencia se cargarán dinámicamente -->
            </div>
            <div class="socialBox">
                <!-- Los iconos sociales se cargarán dinámicamente -->
            </div>
        </section>
    </nav>
    <section class="pageLead">
        <img src="" alt="navImg">
    </section>
    <section class="start">
        <div class="startBox">
            <!-- Las migas de pan (breadcrumbs) se cargarán dinámicamente -->
        </div>
    </section>
    <div class="main">
        <div class="mainCenter">
            <section class="headline">
                <div class="headlineBox">
                    <h1></h1>
                    <p></p>
                </div>
            </section>
            <section class="audioPlayer">
                <div class="audioPlayerCenter">
                    <div class="audioPlayerBox">
                        <button class="audioButton" id="playButton">
                            <img id="playIcon" src="src/assets/images/audioPlayer.svg" alt="play">
                        </button>
                        <div class="audioTitle">
                            <h1>Escuchar Audio</h1>
                            <p></p>
                        </div>
                    </div>
                </div>
            </section>
            <audio id="audioPlayer">
                <source src="" type="audio/mp3">
            </audio>
            <section class="share">
                <div class="shareBox">
                    <h1>Compartir:</h1>
                </div>
            </section>
            <section class="shareIcons">
                <div class="shareIconBox">
                    <!-- Los botones de compartir se cargarán dinámicamente -->
                </div>
            </section>
        </div>
        <section class="banner">
            <div class="bannerBox">
            </div>
        </section>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="src/js/app.js" type="module"></script>
    <script src="src/js/validation.js" type="module"></script>
</body>
</html>