* {
  margin-top: 0;
  font-family: 'Lato';
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.header {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 6vh;
  width: 100vw;
  position: relative;
  justify-content: center;
  align-items: center;
}
.header .headerBox {
  display: flex;
  flex-direction: row;
  gap: 3%;
  width: 92vw;
  height: 6vh;
  align-items: center;
  border: none;
}
.header .headerBox .headerBurger {
  border: none;
  background: none;
  width: 10%;
  height: 80%;
  cursor: pointer;
}
.header .headerBox .headerBurger .burgerImg {
  width: 100%;
  height: 100%;
}
.header .headerBox .headerLogo {
  width: 25%;
  height: 35%;
}
.header .navMenu {
  width: 40%;
  height: auto;
  background-color: #fff;
  border-top: 1px solid #b4b4b467;
  color: #000;
  position: absolute;
  top: 6vh;
  left: 0;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 100;
}
.header .navMenu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.header .navMenu .menuList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}
.header .navMenu .menuList li {
  height: auto;
  width: 100%;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}
.header .navMenu.active .menuList li {
  opacity: 1;
  transform: translateY(0);
}
.header .navMenu.active .menuList li:nth-child(1) {
  transition-delay: 0.05s;
}
.header .navMenu.active .menuList li:nth-child(2) {
  transition-delay: 0.1s;
}
.header .navMenu.active .menuList li:nth-child(3) {
  transition-delay: 0.15s;
}
.header .navMenu .menuList li a {
  display: block;
  padding: 15px 20px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s;
  height: auto;
}
.header .navMenu .menuList li a:hover {
  background-color: rgba(206, 206, 206, 0.40392157);
}
.trending {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 5vh;
  background-color: #951B3D;
  justify-content: center;
  align-items: center;
}
.trending .trendingCenter {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 88vw;
  justify-content: space-between;
  align-items: center;
}
.trending .trendingBox {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 65%;
  align-items: center;
  overflow-x: auto;
  gap: 8px;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.trending .trendingSpan {
  display: flex;
  font-weight: bold;
  color: #fff;
  font-size: 100%;
  margin-left: 0;
  text-decoration: none;
}
.trending .trendingBox a {
  font-size: 80%;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  text-align: left;
  border-right: 1px solid #fff;
  padding-right: 2vw;
}
.trending .socialBox {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 33%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.trending .socialBox a {
  display: flex;
  height: 50%;
  width: 50%;
}
.trending .socialBox img {
  width: 100%;
  height: 100%;
}
.pageLead {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100vw;
}
.pageLead img {
  width: 150%;
  height: 100%;
}
.start {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 7vh;
  justify-content: center;
  align-items: center;
}
.startBox {
  display: flex;
  flex-direction: row;
  width: 88vw;
  height: 100%;
  align-items: center;
  white-space: nowrap;
  gap: 5px;
}
.startInicio {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  text-decoration: none;
  color: #951B3D;
  font-size: 90%;
}
.startInicio:hover {
  color: #EE2c64;
  cursor: pointer;
}
.startHumor {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  text-decoration: none;
  font-size: 90%;
  color: #951B3D;
}
.startHumor:hover {
  color: #EE2c64;
  cursor: pointer;
}
.boxSosp {
  display: flex;
  align-items: center;
  width: 20%;
  height: auto;
}
.startSosp {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: #951B3D;
  font-size: 90%;
}
.startSosp:hover {
  color: #EE2c64;
  cursor: pointer;
}
.start .boxSpan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: auto;
  padding: 0;
}
.start .spanTato {
  text-decoration: none;
  color: #000;
  width: auto;
  height: auto;
  font-size: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.start span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  color: #951B3D;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 23vh;
  width: 100vw;
  margin-top: 1%;
}
.headlineBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 88vw;
  gap: 10px;
}
.headlineBox h1 {
  font-size: 1.8rem;
  color: #EE2c64;
  height: auto;
  margin: 0 0 0 0 ;
}
.headlineBox p {
  color: #000;
  height: auto;
  font-size: 1.1rem;
  text-align: justify;
}
.audioPlayer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 5vh;
  height: 6vh;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}
.audioPlayerCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 88vw;
  height: 100%;
}
.audioPlayerBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 52%;
  height: 100%;
  background-color: #f7d25f;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.audioButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  background: none;
  border: none;
}
.audioPlayerBox img {
  width: 80;
  height: 80%;
}
.audioTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
}
.audioTitle h1 {
  font-size: 0.9rem;
  color: #000;
  margin: 0;
}
.audioTitle p {
  font-size: 0.7rem;
  color: #000;
  margin: 0;
}
.share {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 3vh;
  height: 3vh;
  justify-content: center;
  align-items: center;
  margin-top: 1.5%;
}
.shareBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 88vw;
  height: 100%;
}
.shareBox h1 {
  width: auto;
  height: auto;
  font-size: 1rem;
  color: #EE2c64;
  margin: 0;
}
.shareIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 3vh;
  height: 3vh;
}
.shareIconBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 88vw;
  height: 100%;
  gap: 4%;
}
.shareIconBox a {
  width: auto;
  height: 100%;
}
.shareIconBox img {
  width: 100%;
  height: 100%;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  min-height: 35vh;
  height: 35vh;
  margin-top: 20px;
  background-image: url('https://i.pinimg.com/736x/02/d5/6e/02d56e691f101eca776607fd653491d0.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bannerBox {
  display: flex;
  margin-top: 4%;
  width: 93vw;
  height: 30%;
  justify-content: end;
  align-items: center;
}
.bannerBox img {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
}
@media (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 7vh;
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .header .headerBox {
    display: flex;
    flex-direction: row;
    gap: 1.5%;
    width: 93vw;
    height: 7vh;
    justify-content: start;
    align-items: center;
  }
  .header .headerBox .headerBurger {
    background: none;
    width: auto;
    height: 80%;
    cursor: pointer;
  }
  .header .headerBox .headerBurger .burgerImg {
    width: 100%;
    height: 100%;
  }
  .header .headerBox .headerLogo {
    width: 10%;
    height: 52%;
  }
  .header .navMenu {
    width: 20%;
    height: auto;
    background-color: #fff;
    border-top: 1px solid #b4b4b467;
    color: #000;
    position: absolute;
    font-size: 1.3rem;
    top: 7vh;
    left: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 100;
  }
  .trending {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 6vh;
    background-color: #951B3D;
    justify-content: center;
    align-items: center;
  }
  .trending .trendingCenter {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 91.5vw;
    align-items: center;
  }
  .trending .trendingBox {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 65%;
    align-items: center;
    overflow-x: auto;
  }
  .trending .trendingSpan {
    display: flex;
    font-weight: bold;
    color: #fff;
    font-size: 1.2rem;
    margin-left: 0;
    text-decoration: none;
  }
  .trending .trendingBox a {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    text-align: left;
    min-width: 5px;
    border-right: 1px solid #fff;
    padding-right: 2vw;
    margin-right: 30px;
  }
  .trending .trendingBox a:hover {
    color: #f7d25f;
  }
  .trending .socialBox {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 12%;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .trending .socialBox a {
    display: flex;
    height: 50%;
    width: 50%;
  }
  .trending .socialBox img {
    width: 100%;
    height: 100%;
  }
  .pageLead {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
  }
  .pageLead img {
    width: 150%;
    height: 100%;
  }
  .start {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 7vh;
    justify-content: center;
    align-items: center;
    margin: 0.5% 0 0 0;
  }
  .startBox {
    display: flex;
    flex-direction: row;
    width: 92vw;
    height: 100%;
    align-items: center;
    gap: 10px;
  }
  .startInicio {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    text-decoration: none;
    color: #951B3D;
    font-size: 1.1rem;
  }
  .startInicio:hover {
    color: #EE2c64;
    cursor: pointer;
  }
  .startHumor {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    text-decoration: none;
    font-size: 1.1rem;
    color: #951B3D;
  }
  .startHumor:hover {
    color: #EE2c64;
    cursor: pointer;
  }
  .boxSosp {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
  }
  .startSosp {
    overflow: hidden;
    text-decoration: none;
    color: #951B3D;
    font-size: 1.1rem;
  }
  .startSosp:hover {
    color: #EE2c64;
    cursor: pointer;
  }
  .start .boxSpan {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .start .spanTato {
    text-decoration: none;
    color: #000;
    width: auto;
    height: auto;
    font-size: 1.1rem;
    margin: 0;
  }
  .start span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    color: #951B3D;
  }
  .main {
    display: flex;
    flex-direction: row-reverse;
    height: 60vh;
    width: 100vw;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }
  .mainCenter {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 55vw;
  }
  .headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 55vw;
    margin: 0;
  }
  .headlineBox {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    height: 100%;
    width: 49vw;
  }
  .headlineBox h1 {
    font-size: 2rem;
    color: #EE2c64;
    height: auto;
    width: 70%;
    margin: 0;
  }
  .headlineBox p {
    color: #000;
    height: auto;
    width: 80%;
    font-size: 1.3rem;
  }
  .audioPlayer {
    display: flex;
    flex-direction: row;
    width: 55vw;
    height: 6vh;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .audioPlayerCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 49vw;
    height: 100%;
  }
  .audioPlayerBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 32%;
    height: 100%;
    background-color: #f7d25f;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .audioButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    background: none;
    border: none;
  }
  .audioButton:hover {
    cursor: pointer;
  }
  .audioPlayerBox img {
    width: 80;
    height: 80%;
  }
  .audioTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
  }
  .audioTitle h1 {
    font-size: 1.3rem;
    color: #000;
    margin: 0;
  }
  .audioTitle p {
    font-size: 1rem;
    color: #000;
    margin: 0;
  }
  .share {
    display: flex;
    flex-direction: row;
    width: 55vw;
    height: 3vh;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
  }
  .shareBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 49vw;
    height: 100%;
  }
  .shareBox h1 {
    width: auto;
    height: auto;
    font-size: 1.3rem;
    color: #EE2c64;
    margin: 0;
  }
  .shareIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 3.5vh;
    margin-top: 1%;
  }
  .shareIconBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 49vw;
    height: 100%;
    gap: 10px;
  }
  .shareIconBox a {
    width: auto;
    height: 100%;
  }
  .shareIconBox img {
    width: 100%;
    height: 100%;
  }
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    height: 60vh;
    background-image: url('https://i.pinimg.com/736x/02/d5/6e/02d56e691f101eca776607fd653491d0.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-top: 0;
    margin-left: 4%;
  }
  .bannerBox {
    display: flex;
    width: 42vw;
    height: 35%;
    justify-content: end;
    align-items: center;
    margin: 0;
  }
  .bannerBox img {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
  }
}
